<h1>Ending class session</h1>
<p>Goodbye to all of you!!!</p>
<p><%= "love" + "Grace" %></p>
<p>
    <% @files.each do |file| %>
        <ul><li>file name is: <%= file %><li></ul>
    <% end %>
</p>
<p>Say <%= link_to "Hello", say_hello_path %> again </p>
